<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenidos a MercadoLiebre</title>
    <link rel="stylesheet" href="/css/style.css"
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
            </div>
            <div class="form" action="#" method="GET">
                <i class="fa fa-search"></i><div class="input">Buscar productos y más...</div>
                
            </div>
            <p><i class="fas fa-hand-holding-usd"></i></i><p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav>
            <ul type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul type="none">
                <li><a href="/register">Creá tu cuenta</a></li> <i class="fas fa-address-card"></i>
                <li><a href="/login">Ingresá</a></li><i class="fas fa-sign-in-alt"></i>
                <li><a href="#">Mis Compras</a></li><i class="fas fa-cart-arrow-down"></i>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div> 
        <section class="banner">
                 <img src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
        </section>   

    </header>
    <main>
        
        <form action="/register.html" method="post">
            <br>
            <br>
            <input type="text" name="nombre" placeholder="Nombre y Apellido">
            <br>
            <br>
            <input minlength="3" type="text" name="nombreUsuario" placeholder="Nombre de Usuario">
            <br>
            <br>
            <input type="text" name="domicilio" placeholder="Domicilio">
            <br>
            <br>
            <h4>Fecha de Nacimiento</h4>
            <input type="date" name="fechaNacimiento" value="aaaa-mm-dd">
            <br>
            <br>
            <h4>Perfil del Usuario</h4>
            <input type="radio" name="deseo">Comprar
            <input type="radio" name="deseo">Vender
            <br>
            <br>
            <h4>Categorias de Interés</h4>
            <label value="electro">Electro</label>
            <input type="checkbox" name="electro"></input><br>
            <label value="moda">Moda</label>
            <input type="checkbox" name="moda"></input><br>
            <label value="hogar">Hogar</label>
            <input type="checkbox" name="hogar"></input><br>
            <label value="jugueteria">Jugueteria</label>
            <input type="checkbox" name="jugueteria"></input><br>
            <label value="vidaSana">Vida Sana</label>
            <input type="checkbox" name="vidaSana"></input>
            <br>
            <br>
        <h4>Foto del Usuario</h4>
        <input type="file" name="archivo" accept=".jpg, .png, .PDF">
        <br>
        <br>
        <input type="password" name="contraseña" placeholder="Contraseña">
        <br>
        <br>
        <input type="password" name="confirmarContraseña" placeholder="Confirmar Contraseña">
        <br>
        <br>
        <label id="enviar" for=""></label>
        <input type="submit" name="enviar">
        <label id="borrar" for=""></label>
        <input type="reset" name="borrar"> 
        <br>
        <br>
    </form>
    </main>
    <footer>
        <section>
            <div>
            <i class="fas fa-credit-card"></i><ul class="otros" type="none"><li><strong>Pagá con tarjeta o en efectivo</strong></li></ul>
        <p class="descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
        <i class="fas fa-gift"></i><ul class="otros" type="none"><li><strong>Envío gratis desde $ 2.500</strong></li></ul>
        <p class="descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
        <i class="fas fa-user-shield"></i><ul class="otros" type="none"><li><strong>Seguridad, de principio a fin</strong></li></ul>
        <p class="descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
            </div>

        </section>
        <ul class="tamanio" type="none"><li><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></li></ul>

    </footer>
</html>